*{
    font-family: 'Courier New', Courier, monospace;
}

div{
    border-color: brown;
}

/* /* #tit{
    text-align: center;
}

#par{
    text-align: center;
}

#php{
    text-align: center;
} */

p{
    text-align: center;
}