* {
	margin: 0;
	padding: 0;
}

.BackGround-LinearGradiant {
	width: 100vw;
	height: 200vh;
	background: linear-gradient(180deg, #000000 50%, rgb(255, 255, 255) 50%);
}

.GridGlobal {
	margin: 0 auto;
	width: 80vw;
	height: 100%;
	background-color: rgba(180, 180, 180, 0.15);
}

.PaddingContent {
	padding: 10%;
}

.GridLocal-Column {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

.RowGridContent {
	background-color: #ff0000;
	width: 100%;
	height: 100%;
}