* {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	justify-content: center;
}

.content div {
	margin: 50px 0;
}

.par {
	padding: 50px;
	color: #FF0000;
}





.div-1 {
	border-style: hidden solid;
	border-width: 1px;
	border-radius: 10px;
	text-align: center;
	border-color: #FF0000;
}

.par-1 {
	padding: 0 10px;
}