* {
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.BackGround-LinearGradiant {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(180deg, #000000 60%, rgb(255, 255, 255) 40%);
}

.GridGlobal {
	margin: 0 auto;
	width: 1200px;
	height: 100%;
}

.PaddingContent {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.RowGridContent {
	width: 100%;
}

.DisplayFlex {
	display: flex;
	justify-content: center;
}

.RowGridContent img{
	width: 800px;
}

.FirstContent {
	text-align: center;
	font-size: 46px;
	color: white;
}

.FirstContent h1{
	margin-bottom: 20px;
}