* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home-page-division {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.max-width {
  max-width: 1300px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /* background: rgba(255, 0, 0, 0.589); */
}

/* Cabeçalho / Navegação */

header {
  width: 100%;
  height: 100px;
  background: #222;
}

.menu-bar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.menu-list {
  list-style: none;
  flex-direction: row;
  gap: 95px;
  height: 100%;
  display: flex;
  align-items: center;
}

ul.menu-list a{
  text-decoration: none;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-list li {
  height: 100%;
}

li.logo a img{
  border-radius: 50%;
  height: 100%;
}

/* Conteúdo Principal */

main {
  background: url(https://img.freepik.com/fotos-gratis/fundo-preto-antigo-textura-do-grunge-papel-de-parede-escuro-quadro-negro-quadro-negro-parede-da-sala_1258-28313.jpg?w=1380&t=st=1670977509~exp=1670978109~hmac=a1ab303c9fe3c9d7b160d314e33b7dc8a42d2367664f2cc790f79313bfb8f2da);
  width: 100%;
  height: auto;
}

.background-paper-contain {
  max-width: 1366px; /* 33px para cada lado */
  margin: 0 auto;
  background-color: rgb(223, 223, 223);
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.content-flex {
  /* padding: 50px 0; */
  width: 100%;  
  height: 100%;

  display: flex;
}

.img-content {
  flex-grow: 7;
}

.img-content img {
  max-width: 100%;
}

.content-description {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 50px 0;
  justify-content: space-around;
  text-align: right;
}

.headding-product {
  font-size: 2em;
  margin: 10px 0;
}

.price-product {
  font-family: sans-serif;
  font-weight: 900;
  color: #222;
  font-size: 2em;
  margin: 10px 0;
}

.description-product {
  margin: 10px 0;
}

.btn-input {
  background-color: #222;
  border: hidden;
  padding: 15px 25px;
  color: #fff;
  border-radius: 10px;
}

.btn-input:hover {
  background: rgb(70, 70, 70);
  cursor: pointer;
}

.btn-buy {
  margin-left: 25px;
  background: #222;
}

/* Rodapé */

footer {
  background: #222;
  width: 100%;
  height: 400px;
}