*{
	margin: 0;
}

input{
	margin: 5px 0px;
	border-style: hidden hidden solid hidden;
	border-radius: 10px;
	border-width: 1px;
}

body{
	background-color: #645666;
	display: flex;
	justify-content: center;
	height: 600px;
	align-items: center;
}

#DivSection{
	text-align: right;
	padding: 30px 25px;
}

#DivInputs{
	margin-bottom: 10px;
}

label{
	font-size: 18px;
	padding-right: 10px;
}

h1{
	font-size: 34px;
	margin-bottom: 40px;
	text-align: center;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	text-align: center;

	background-color: white;
	border-radius: 20px;
}

#DivSection{
	font-family: KarlaRegular;
}